/************* project section*************** */
.projects {
  padding-top: 3rem;
}

.project__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.project__container .box {
  height: 20rem;
  width: 20rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.project__container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project__container .box:hover img {
  transform: scale(1.2);
}

@media screen and (max-width:400px) {

  .projects .project__container .box {
    width: 100%;
  }
}