
.contact {
  padding-top: 3rem;
}

.contact__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact__wrapper .content {
  flex: 1 1 30rem;
  padding: 4rem;
  padding-bottom: 0;
}

.contact__wrapper form {
  flex: 1 1 45rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.contact__wrapper form .box {
  padding: 1.5rem;
  margin: 1rem 0;
  background: #e0e9f8;
  color: var(--color-dark);
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
}

.contact__wrapper form .box::placeholder {
  text-transform: capitalize;
}

.contact__wrapper form .message {
  height: 15rem;
  resize: none;
}

form .btn {
  border-radius: 1rem;
}

.contact__wrapper .content .title {
  color: #fff;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.contact__wrapper .content .contact__info h3 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}

.contact__wrapper .content .contact__info h3 i {
  padding-right: 1rem;
  color: var(--color-bg);
}

@media screen and (max-width:400px) {

  .contact .contact__wrapper form {
    margin: 3rem 0;
  }
}